@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
  cursor: none;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0px;
  border-radius: 50px;
  letter-spacing: 0.2px;
  cursor: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #E96F6F !important;
  cursor: none;
}

.navbar-brand .uil {
  font-size: 25px;
}

.about-image {
  margin-top: 4em;
  justify-content: center;
  column-width: 240px;
  color-adjust: 240px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

.custom-btn {
  cursor: none;
  background: #f2f2f1;
  color: #5b5b5b;
  font-weight: bold;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  cursor: none;
  color: #E96F6F;
  font-size: 16px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}
.custom-btn.custom-btn-bg {
  cursor: none;
  background: #2BC1FC;
  color: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}
.custom-btn.custom-btn-bg:hover {
  cursor: none;
  background: #E96F6F;
  color: #ffffff !important;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  width: 400px;
  position: relative;
}

.animated-item {
  color: #E96F6F;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  transition: all 1s ease;
  border-color: #FEE05C;
  position: fixed;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
  background-color: yellow;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*=-unpinned] {
  transform: translate(0, -150%);
}
.navbar[class*=-pinned] {
  transform: translate(0, 0);
}
.navbar[class*=headroom--not-top] {
  transition: ease-in-out;
  background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
  background-color: none;
  box-shadow: 0 1px 2px 0 none;
  border-bottom: 1px solid none;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.4s ease;
}

.navbar-brand {
  transition: all 1s ease;
  font-weight: bold;
}

.navbar-expand-sm {
  transition: all 1s ease;
}
.navbar-expand-sm .navbar-nav {
  transition: all 1s ease;
}
.navbar-expand-sm .navbar-nav .nav-link {
  transition: all 1s ease;
  padding: 0 20px;
}

.nav-link {
  transition: all 1s ease;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  transition: all 0.4s ease;
  color: #E96F6F;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  transition: all 1s ease;
}
.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  transition: all 1s ease;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: none;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:first-child {
  transition: all 0.5s ease;
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:nth-child(2) {
  transition: all 1s ease;
  display: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:last-child {
  transition: all 1s ease;
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  background: #212121;
  display: block;
  width: 100%;
  height: 5px;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease;
  position: relative;
}

#navbarNav {
  transition: all 0.5s ease-in-out;
}

#project {
  transition: all 0.4s ease;
  overflow: hidden;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.project {
  justify-content: center;
  overflow: hidden;
}

#resume {
  transition: all 0.4s ease;
  background-image: linear-gradient(-20deg, #ff9a44 0%, #f6ae6f 100%);
}

#contact {
  transition: all 0.4s ease;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.copyright-text {
  color: white;
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: none;
}

.color-mode colortxt:hover {
  transition: all 0.2s ease;
  color: #E96F6F;
}

.color-mode-icon {
  transition: all 0.1s ease;
  position: relative;
  right: 6px;
  color: #E96F6F;
}
.color-mode-icon:after {
  transition: all 0.1s ease;
  font-family: "unicons";
  content: "";
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: "unicons";
  content: "";
  font-size: 25px;
  color: #E96F6F;
}

.dark-mode {
  transition: 0.2s;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.dark-mode body {
  background-image: none;
}
.dark-mode #project {
  overflow: hidden;
  background-image: none;
}
.dark-mode #resume {
  background-image: none;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  transition: all 0.2s ease;
  color: #E96F6F;
}
.dark-mode .navbar[class*=headroom--not-top] {
  background: #000000;
  box-shadow: 0 1px 2px 0 #000000;
  border-bottom: 1px solid #000000;
}
.dark-mode .navbar {
  background: none;
  border-color: black;
}
.dark-mode .navbar[class*=headroom--not-top] {
  transition: all 0.2s ease;
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode #about {
  transition: all 0.5s ease;
  background: none;
}
.dark-mode .small-text {
  transition: all 0.1s ease;
  background: transparent;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
  transition: all 0.2s ease;
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}
.dark-mode .col-lg-8 span {
  color: #E96F6F;
}
.dark-mode .timeline-info small {
  transition: all 0.2s ease;
  color: #a0a0a0;
}
.dark-mode .timeline-info txt {
  transition: all 0.2s ease;
  color: #8a8181;
}
.dark-mode .about-text txt {
  transition: all 0.2s ease;
  color: #8a8181;
}
.dark-mode .owl-theme .owl-nav [class*=owl-]:hover {
  transition: all 0.2s ease;
  color: #E96F6F;
}
.dark-mode .cursorr {
  border: 4px solid white;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline .timeline-yr span:hover {
  font-size: 20px;
  transition: all 0.5s ease;
}

.timeline-yr {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  transition: all 0.5s ease;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.cursorr {
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 100;
  right: 50%;
  width: 2em;
  height: 2em;
  border-radius: 3em;
  border: 4px solid black;
  top: 45em;
  pointer-events: none;
}
.cursorr::before {
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  background: #E96F6F;
  border-radius: 50%;
  margin: 0.25em;
  content: "";
}

.cursorr,
.cursorr:before {
  opacity: 0;
}

.img-container .cursorr {
  animation: move-cursor 2s ease-in-out infinite;
}

.img-container .cursorr:before {
  animation: move-center 2s ease-in-out infinite;
}

@keyframes move-cursor {
  0% {
    opacity: 0;
    height: 2em;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(3em);
    height: 4em;
  }
}
@keyframes move-center {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(2em);
  }
}
.owl-carousel {
  padding-block: 5%;
}
.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "unicons";
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: "";
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: "";
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.5s ease;
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  transition: all 0.5s ease;
  color: #E96F6F;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  transition: all 0.3s ease;
  background: #5b5b5b;
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #E96F6F;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.google-map {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  cursor: none;
}
.google-map iframe {
  cursor: none;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.mb-4 {
  color: white;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #E96F6F;
}
.contact-form .submit-btn {
  background: #E96F6F;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: none;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
  font-size: 20px;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p,
.contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #E96F6F;
}

.footer {
  position: relative;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section:nth-of-type(1) {
  height: 100vh;
  background-image: transparent;
}

section:nth-of-type(2) {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section:nth-of-type(3) {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section:nth-of-type(4) {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

@media (min-width: 2310px) {
  #about {
    height: 100%;
    display: inline-flex;
  }

  #project {
    height: 100%;
  }

  .col-lg-7 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
  }

  .cursorr {
    top: 38em;
  }

  #project {
    overflow: hidden;
  }
}
@media (max-width: 1920px) {
  .cursorr {
    top: 48em;
  }
}
@media (max-width: 1550px) {
  .cursorr {
    top: 37em;
  }

  #project {
    overflow: hidden;
  }
}
@media (max-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }

  .cursorr {
    top: 48em;
  }

  #project {
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .cursorr {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 100;
    right: 10%;
    top: 20%;
    bottom: 10%;
    width: 2em;
    height: 2em;
    border-radius: 3em;
    border: 4px solid black;
    top: 26em;
    pointer-events: none;
  }

  #project {
    overflow: hidden;
  }

  .cursorr::before {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: #E96F6F;
    border-radius: 50%;
    margin: 0.25em;
    content: "";
  }

  .about-image {
    margin-top: 4em;
  }

  .about-image {
    padding-top: 6vh;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    column-width: 240px;
    color-adjust: 240px;
  }

  .mobile-mt-2,
.contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .cursorr {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 100;
    right: 10%;
    width: 2em;
    height: 2em;
    border-radius: 3em;
    border: 4px solid black;
    top: 30em;
    pointer-events: none;
  }

  .cursorr::before {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: #E96F6F;
    border-radius: 50%;
    margin: 0.25em;
    content: "";
  }

  .about-image {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    column-width: 240px;
    color-adjust: 240px;
  }

  #project {
    overflow: hidden;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #FECC08;
    text-align: center;
    padding-bottom: 0px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
  .animated-info {
    min-width: 200px;
  }

  .animated-item {
    font-size: 30px;
  }

  #project {
    overflow: hidden;
  }

  .animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 400px;
    position: relative;
  }

  .cursorr {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 47%;
    right: 45%;
    width: 2em;
    height: 2em;
    border-radius: 3em;
    border: 4px solid black;
    top: 36em;
    pointer-events: none;
  }

  .cursorr::before {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: #E96F6F;
    border-radius: 50%;
    margin: 0.25em;
    content: "";
  }

  .custom-btn-group {
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    left: 50%;
    right: 50%;
  }

  .custom-btn {
    padding-left: 0%;
    padding-right: 0%;
    display: block;
    margin: 10px 0;
    left: 50%;
    right: 50%;
  }

  .about.full-screen {
    padding-top: 15%;
    left: 50%;
    right: 50%;
  }

  .about-text {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    column-width: 240px;
    color-adjust: 240px;
  }

  .about-image {
    display: none;
  }

  .owl-theme .owl-nav {
    padding-left: 0%;
    padding-right: 0%;
    display: none;
  }

  .timeline-info small {
    padding-left: 0%;
    padding-right: 0%;
    display: block;
    margin: 10px 0 0 0;
  }

  .contact-form {
    position: relative;
  }

  .footer {
    position: relative;
    display: block;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-image {
    display: none;
  }

  .cursorr {
    pointer-events: none;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
    width: 2em;
    height: 2em;
    border-radius: 3em;
    border: 4px solid black;
    top: 32em;
    left: 45%;
    right: 50vw;
  }

  .cursorr::before {
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background: #E96F6F;
    border-radius: 50%;
    margin: 0.25em;
    content: "";
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}
/* div {
  display: inline-block;
  padding: 20px;
} */
.cursor {
  pointer-events: none;
  z-index: 9999999;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 5px solid white;
  border-radius: 50%;
  mix-blend-mode: exclusion;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAni 0.5s infinite alternate;
}

.cursor::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 20px solid gray;
  border-radius: 50%;
  top: -22.5px;
  left: -22.5px;
  opacity: 0.5;
  animation: cursorAni1 0.5s infinite alternate;
}

.cursor::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 20px solid #b10000;
  border-radius: 50%;
  top: -22.5px;
  left: -22.5px;
  opacity: 0.5;
  animation: cursorAni1 0.5s infinite alternate;
}

@keyframes cursorAni {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes cursorAni1 {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(0.25);
  }
}
@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.cursor.click {
  animation: click 0.5s forwards;
}