@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

// VARIABLES
$font-base: 'Maven Pro',
sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;

$h1-font-color: #212121;
$h2-font-color: #353535;
$h3-font-color: #484848;
$body-font-color: #5b5b5b;
$text-white: #ffffff;
$dark-mode-color: #0c0c0d;
$main-color: #E96F6F;
$border-color: #f2f2f1;
$button-color: #474559;

$small-font-size: 14px;
$link-font-size: 16px;

@mixin transition-effect {
	transition: all 0.4s ease;
}

body {
	font-family: $font-base;
	padding-top: 70px;
	background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
}

.full-screen {
	padding: 8rem 0;
	
}

.small-text {
	color: $body-font-color;
	font-size: $small-font-size;
	font-weight: $font-weight-bold;
	padding: 8px 0px;
	border-radius: 50px;
	letter-spacing: 0.2px;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

a {
	font-size: $link-font-size;
	font-weight: $font-weight-normal;
	text-decoration: none !important;
	@include transition-effect;

	&:hover {
		color: $main-color !important;
	}
}

.navbar-brand {
	.uil {
		font-size: 25px;
	}
}


.about-image {
	margin-top: 4em;
	justify-content: center;
	column-width: 240px;
	color-adjust: 240px;
}


// TYPOGRAPHY
p {
	font-size: $body-font-size;
	font-weight: $font-weight-light;
	line-height: 1.5;
	color: $body-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
}

h1 {
	color: $h1-font-color;
	font-size: $h1-font-size;
	margin: 24px 0;
}

h2 {
	color: $h2-font-color;
	font-size: $h2-font-size;
	font-weight: $font-weight-bold;
}

h3 {
	color: $h3-font-color;
}

h3,
b,
strong {
	font-weight: $font-weight-bold;
}

// ABOUT

// #about {
// 	@include transition-effect;
// 	background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
// }


// CUSTOM BUTTON
.custom-btn {
	background: $border-color;
	color: $body-font-color;
	font-weight: $font-weight-bold;	
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	border-radius: 50px;
	padding: 13px 29px;
	font-size: $small-font-size;
	line-height: normal;
	overflow: hidden;
	@include transition-effect;

	&:hover {
		color: $main-color;
		font-size: $link-font-size;
		box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	}

	&.custom-btn-bg {
		background: #2BC1FC;
		color: $text-white;
		box-shadow: 0px 10px 40px rgba(0,0,0,.3);

		&:hover {
			background: $main-color;
			color: $text-white !important;
			box-shadow: 0px 10px 40px rgba(0,0,0,.3);
		}
	}
}

// 

// ANIMATED TEXT
.animated {
	position: relative;
	
}

.animated-info {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	width: 400px;
	position: relative;
}

.animated-item {
	color: $main-color;
	
}

.animated-item {	
	font-size: 38px;
	line-height: inherit;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	animation: BottomTotop 6s linear infinite 0s;

	&:nth-child(2n+2) {
		animation-delay: 2s;
	}

	&:nth-child(3n+3) {
		animation-delay: 4s;
	}
}

@keyframes BottomTotop {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		transform: translateY(5px);
	}

	10% {
		opacity: 1;
		transform: translateY(0px);
	}

	25% {
		opacity: 1;
		transform: translateY(0px);
	}

	30% {
		opacity: 0;
		transform: translateY(5px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

// MENU
.navbar {
	border-color: #FEE05C;
	position: fixed;
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	top: 0;
	right: 0;
	left: 0;
	z-index: 999999;
	background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%);
	background-color: yellow; //to reduce the glass nave feel
	will-change: transform;
	transition: transform 200ms linear;

	&[class*="-unpinned"] {
		transform: translate(0, -150%);
	}

	&[class*="-pinned"] {
		transform: translate(0, 0);
	}

	&[class*="headroom--not-top"] {
		background-image: linear-gradient(to right, #f9d423 0%, #ffbb00c9 100%); //movement nav color
		background-color: none; //yellow nav when between page 
		box-shadow: 0 1px 2px 0 none; //to cut the shadow
		border-bottom: 1px solid none; //to cut the border of nav
		padding-top: 0;
		padding-bottom: 0;
		@include transition-effect;
	}
}

.navbar-brand {
	font-weight: $font-weight-bold;
}

.navbar-expand-sm {
	.navbar-nav {
		.nav-link {
			padding: 0 20px;
		}
	}
}

.nav-link {
	font-weight: $font-weight-bold;
	font-size: 16px;
	overflow: hidden;

	span {
		position: relative;
		display: inline-block;
		transition: transform 0.3s;

		&:before {
			position: absolute;
			top: 100%;
			content: attr(data-hover);
			transform: translate3d(0, 0, 0);
			font-size: 18px;
		}
	}
}

.navbar-light {
	.navbar-nav {

		.nav-link:focus,
		.nav-link:hover {
			@include transition-effect;
			color: $main-color;
			font-weight: $font-weight-bold;

			span {
				transform: translateY(-100%);
			}
		}
	}
}



// HAMBURGER MENU
.navbar-light {
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	.navbar-toggler-icon {
		background: none;
	}
}

.navbar-toggler {	
	border: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	outline: none;
	cursor: pointer;
	margin-right: 10px;

	&:focus {
		outline: none;
	}

	&[aria-expanded="true"] {
		.navbar-toggler-icon {
			&:first-child {
				transform: rotate(45deg);
				top: 6px;
			}

			&:nth-child(2) {
				display: none;
			}

			&:last-child {
				transform: rotate(-45deg);
				bottom: 1px;
			}
		}
	}

	.navbar-toggler-icon {
		box-shadow: 0px 10px 40px rgba(0,0,0,.3);
		background: $h1-font-color;
		display: block;
		width: 100%;
		height: 2px;
		margin: 5px 0;
		@include transition-effect;
		position: relative;
	}
}



// PROJECTS
#project {
	@include transition-effect;
	overflow: hidden;
	background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.project {
	justify-content: center;
	overflow: hidden;
	
} // now

// RESUME
#resume {
	@include transition-effect;
	background-image: linear-gradient(-20deg, #ff9a44 0%, #f6ae6f 100%);
}

// CONTACT
#contact {
	// height: 100vh;
	// width: 100%; //now
	@include transition-effect;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

// COPYRIGHT TEXT
.copyright-text {
	color: white;
	font-size: 16px;
	font-weight: $font-weight-normal;
	display: block;
}


// COLOR MODE
.color-mode {
	font-weight: $font-weight-bold;
	cursor: pointer;
}

.color-mode colortxt:hover {
	transition: all 0.2s ease;
	color: #E96F6F;
}

.color-mode-icon {
	transition: all 0.1s ease;
	position: relative;
	right: 6px;
	color: $main-color;

	&:after {
		transition: all 0.1s ease;
		font-family: 'unicons';
		content: '\ea9f';
		font-size: 30px;
		font-weight: 300;
		font-style: normal;
	}

	&.active {
		&:after {
			font-family: 'unicons';
			content: '\eb65';
			font-size: 25px;
			color: $main-color;
		}
	}
}

.dark-mode {

	body {
		background-image: none;
	}

	#project {
		overflow: hidden;
		background-image: none;
	}

	#resume {
		background-image: none;
	}

	transition: .2s;
	background-image: linear-gradient(to right, #434343 0%, black 100%);

	.navbar-light .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 0.8);

		&:hover {
			transition: all 0.2s ease;
			color: $main-color;
		}
	}

	.navbar {

		//nav swipe border	
		&[class*="headroom--not-top"] {
			background: #000000; //yellow nav when between page 
			box-shadow: 0 1px 2px 0 #000000; //to cut the shadow
			border-bottom: 1px solid #000000; //to cut the border of nav
		}
	}

	.navbar {
		background: none;
		border-color: rgb(0, 0, 0);
	}

	.navbar {
		&[class*="headroom--not-top"] {
			transition: all 0.2s ease;
			background: $dark-mode-color;
			border-bottom: 1px solid #1f1f1f;
		}
	}

	#about {
		transition: all .5s ease;
		background: none;
	}

	.small-text {
		transition: all .1s ease;
		background: transparent;
		color: $text-white;
	}

	.feature-card .uil,
	.navbar-light .navbar-brand,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.color-mode {
		transition: all 0.2s ease;
		color: $text-white;
	}

	.owl-carousel {

		.owl-nav button.owl-next,
		.owl-nav button.owl-prev,
		button.owl-dot {
			color: $text-white;
		}
	}

	.col-lg-8 span {
		color: $main-color;
	}

	.timeline-info small {
		transition: all 0.2s ease;
		color: #a0a0a0;
	}

	.timeline-info txt {
		transition: all 0.2s ease;
		color: #8a8181;
	}

	.about-text txt {
		transition: all 0.2s ease;
		color: #8a8181;
	}

	.owl-theme .owl-nav [class*=owl-]:hover {
		transition: all 0.2s ease;
		color: $main-color;
	}

	.cursor {
		border: 4px solid white;
	}
}


// TIMELINE
.timeline-wrapper {
	position: relative;
	padding: 22px 0;

	&:last-child {
		&:before {
			height: 0;
		}
	}

	&:before {
		content: "";
		background: $button-color;
		width: 3px;
		height: 100%;
		position: absolute;
		left: 38px;
	}
}

.timeline .timeline-yr span:hover {
	font-size: 20px;
	transition: all 0.5s ease;
}

.timeline-yr {
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	background: $button-color;
	border-radius: 100%;
	position: absolute;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;

	span {
		transition: all 0.5s ease;
		color: $text-white;
		font-size: $link-font-size;
		font-weight: $font-weight-bold;
		display: block;
		line-height: 75px;
	}
}

.timeline-info {
	display: inline-block;
	vertical-align: top;
	max-width: 432px;
	margin-left: 6em;

	small {
		color: $button-color;
		font-size: $link-font-size;
		font-weight: $font-weight-bold;
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
	}
}

// MOUSE CURSOR
.cursor {
	position: absolute;
	justify-content: center;
	align-content: center;
	align-items: center;
	left: 100;
	right: 50%;
	width: 2em;
	height: 2em;
	border-radius: 3em;
	border: 4px solid black;
	top: 45em;
	pointer-events: none;

	&::before {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		background: #E96F6F;
		border-radius: 50%;
		margin: 0.25em;
		content: "";
	}


}

.cursor,
.cursor:before {
	opacity: 0;
}

.img-container .cursor {
	animation: move-cursor 2s ease-in-out infinite;
}

.img-container .cursor:before {
	animation: move-center 2s ease-in-out infinite;
}

@keyframes move-cursor {
	0% {
		opacity: 0;
		height: 2em;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(3em);
		height: 4em;
	}
}

@keyframes move-center {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateY(2em);
	}
}

// OWL CAROUSEL
.owl-carousel {
	padding-block: 5%;
	.owl-nav {
		span {
			display: none;
		}

		.owl-prev,
		.owl-next {
			&:before {
				background: none;
				padding: 0;
				display: block;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				font-family: 'unicons';
				font-size: 100px;
				line-height: normal;
			}
		}

		.owl-prev {
			&:before {
				content: '\e833';
				left: -45px;
			}
		}

		.owl-next {
			&:before {
				content: '\e836';
				right: -45px;
			}
		}
	}
}

.owl-theme {
	.owl-nav [class*=owl-] {
		transition: all 0.5s ease;
		background: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		font-size: inherit;

		&:hover {
			transition: all 0.5s ease;
			color: $main-color;
		}
	}

	.owl-dots {
		.owl-dot {
			outline: none;

			span {
				transition: all 0.3s ease;
				background: $body-font-color;
				width: 8px;
				height: 8px;
			}

			&.active,
			&:hover {
				span {
					background: $main-color;
					width: 10px;
					height: 10px;
					transition: all 0.3s ease;
				}
			}
		}
	}
}


// GOOGLE MAP
.google-map {
	box-shadow: 0px 10px 40px rgba(0,0,0,.3);
	iframe {
		width: 100%;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
	}
}


// CONTACT FORM
.mb-4 {
	color: white;
}

.contact-form {
	position: relative;

	.form-control {
		background: transparent;
		border-radius: 2px;
		outline: none;
		box-shadow: none;
		font-weight: $font-weight-bold;
		margin: 16px 0;

		&:not(textarea) {
			height: 48px;
		}

		&:hover,
		&:focus {
			border-color: $main-color;
		}
	}

	.submit-btn {
		background: $main-color;
		border-radius: 50px;
		color: $text-white;
		font-weight: $font-weight-bold;
		border: 0;
		cursor: pointer;
		@include transition-effect;

		&:hover {
			background: $button-color;
			font-size: 20px;
		}
	}
}

.contact-info {
	background: $button-color;
	border-radius: 0 0 3px 3px;
	position: relative;
	bottom: 8px;

	p,
	a {
		color: #f7f3f3;
	}
}


// SOCIAL LINKS
.social-links {
	.uil {
		color: #f7f3f3;
		font-size: 20px;
		display: block;
		margin: 5px 0;

		&:hover {
			color: $main-color;
		}
	}
}

// FOOTER

.footer {
	position: relative;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

// SECTIONS

section:nth-of-type(1) {
	height: 100vh;
	background-image: transparent;
}

section:nth-of-type(2) {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section:nth-of-type(3) {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section:nth-of-type(4) {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

// .project , .resume , .about , .contact {
// 	height: 100vh;
// 	width: 100%;
// 	display: flex;
// 	--scroll-length: 1.5;
// 	height: calc( var(--scroll-length) * 100vh );
// 	width: 100%;
// }

// .project , .resume , .about , .contact {
// 	--scale: calc(.8 + 
// 	  (.2 * var(--scroll-length) * var(--visible-y))
// 	);
// 	position: sticky;
// 	top: 0;
// 	left: 0;
// 	margin: 0;
// 	display: block; 
// 	overflow: hidden;
// 	will-change: transform;
// 	transform: scale(var(--scale));
  
// 	&:before {
// 	  content: '';
// 	  position: absolute;
// 	  top: 0;
// 	  left: 0;
// 	  width: 100%;
// 	  height: 100%;
// 	  z-index: 1;
// 	  opacity: calc( var(--visible-y) );
// 	}
// }


[data-scroll] {
	will-change: transform, scale, opacity;
	transform: translateY(6rem) scale(0.93);
	opacity: 0;
	transition: all 1s ease;
	
}

[data-scroll="in"] {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px) scale(1);
	
}

[data-scroll="out"] {
	opacity: 0;
	transform: translate3d(-500px, 1500px, -500px);
}

// [data-scroll="in"] {
// 	opacity: 1;
// 	transform: translateY(0);
// }

// [data-scroll="out"] {
// 	opacity: 0;
// 	transform: translateY(200px);
// }


// RESPONSIVE STYLES
@media (min-width: 2310px) {
	#about {
		height: 100%;
		display: inline-flex;
	
	}

	#project {
		height: 100%;
	}
	.col-lg-7 {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		max-width: 800px;
    	width: 80%;
    	margin: 0 auto;	
		
	}
	
	.cursor {
		top: 38em;
	}

	#project {
		overflow: hidden;
	}
}


@media (max-width: 1920px) {
	.cursor {
		top: 48em;
	}
}

@media (max-width: 1550px) {
	.cursor {
		top: 37em;
		
	}
	#project {
		overflow: hidden;
	}
}


@media (max-width: 1270px) {
	.owl-theme {
		.owl-dots {
			position: relative;
			bottom: 50px;
		}
	}
	.cursor {
		top: 48em;
	}
	#project {
		overflow: hidden;
	}


	
}


@media (max-width: 991px) {
	.full-screen {
		padding-bottom: 4rem;
	}
	.color-mode {
		display: none;
	}
	.cursor {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		left: 100;
		right: 10%;
		top: 20%;
		bottom: 10%;
		width: 2em;
		height: 2em;
		border-radius: 3em;
		border: 4px solid black;
		top: 26em;
		pointer-events: none;
	}
	#project {
		overflow: hidden;
	}
	.cursor::before {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		background: #E96F6F;
		border-radius: 50%;
		margin: 0.25em;
		content: "";
	}
	.about-image {
		margin-top: 4em;
	}
	.about-image {
		padding-top: 6vh;
		align-items: center;
		margin-left: 20%;
		margin-right: 20%;
		justify-content: center;
		column-width: 240px;
		color-adjust: 240px;
	}
	.mobile-mt-2,
	.contact-form {
		margin-top: 2em;
	}
	.contact-info {
		padding: 0 2rem;
	}
}


@media (max-width: 767px) {

	h1 {
		font-size: 2.4em;
	}
	h2 {
		font-size: 2em;
	}
	.cursor {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		left: 100;
		right: 10%;
		width: 2em;
		height: 2em;
		border-radius: 3em;
		border: 4px solid black;
		top: 30em;
		pointer-events: none;
	}

	.cursor::before {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		background: #E96F6F;
		border-radius: 50%;
		margin: 0.25em;
		content: "";
	}

	.about-image {
		align-items: center;
		margin-left: 20%;
		margin-right: 20%;
		justify-content: center;
		column-width: 240px;
		color-adjust: 240px;
	}

	#project {
		overflow: hidden;
	}

	.animated-item {
		font-size: 28px;
	}

	.navbar-collapse {
		background: #FECC08;
		text-align: center;
		padding-bottom: 20px;
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding: 3px 20px;
	}
}


@media (max-width: 580px) {

	.animated-info {
		min-width: 200px;
	}

	.animated-item {
		font-size: 30px;
	}

	#project {
		overflow: hidden;
	}


	.animated-info {
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
		min-width: 400px;
		position: relative;
	}

	.cursor {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		left: 47%;
		right: 45%;
		width: 2em;
		height: 2em;
		border-radius: 3em;
		border: 4px solid black;
		top: 36em;
		pointer-events: none;
	}

	.cursor::before {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		background: #E96F6F;
		border-radius: 50%;
		margin: 0.25em;
		content: "";
	}

	.custom-btn-group {
		padding-left: 0%;
		padding-right: 0%;
		text-align: center;
		left: 50%;
		right: 50%;
	}



	.custom-btn {
		padding-left: 0%;
		padding-right: 0%;
		display: block;
		margin: 10px 0;
		left: 50%;
		right: 50%;
	}

	.about.full-screen {
		padding-top: 15%;
		left: 50%;
		right: 50%;
	}

	.about-text {
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 0%;
		padding-right: 0%;
		column-width: 240px;
		color-adjust: 240px;
	}

	.about-image {
		display: none;
	}

	.owl-theme .owl-nav {
		padding-left: 0%;
		padding-right: 0%;
		display: none;
	}

	.timeline-info small {
		padding-left: 0%;
		padding-right: 0%;
		display: block;
		margin: 10px 0 0 0;
	}
	

	.contact-form {
		position: relative;
	}

	.footer {
		position: relative;
		display: block;		
	}

	[data-scroll] {
		will-change: transform, scale, opacity;
		transform: translateY(6rem) scale(0.93);
		transition: all 1s ease;		
	}
	
	[data-scroll="in"] {
		opacity: 1;
		transform: translate3d(0px, 0px, 0px) scale(1);		
	}
}


@media (max-width: 320px) {

	.animated-text {
		margin-top: 0;
	}

	.about-image {
		display: none;
	}

	.cursor {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		left: 50%;
		right: 50%;
		width: 2em;
		height: 2em;
		border-radius: 3em;
		border: 4px solid black;
		top: 32em;
		left: 45%;
		right: 50vw;
		pointer-events: none;
	}

	.cursor::before {
		position: absolute;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 1em;
		height: 1em;
		background: #E96F6F;
		border-radius: 50%;
		margin: 0.25em;
		content: "";
	}

	.full-screen {
		padding: 4rem 0;
	}

	.mobile-block {
		display: block;
	}

	.contact-info {
		flex-direction: column;		
	}

	.social-links {
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}