@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
    /* margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; */
    
    /* overflow: hidden; */
    /* margin: 0;
    height: 100vh; */
}

/* .pointer {
    pointer-events: auto !important;
}

#morph {
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;    
    pointer-events: none;
} */
/* logo */

/* logo */


/* projj */


/* .content{
    margin-left: 200px;
    margin-top: 200px;
}
.container{
    position: relative;
    width: 560px;
    height: 380px;
    margin: 50px 500px 20px 80px;
} */



/* projj */
/* .nav {
    position: fixed;
} */
/* 
.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
} */

/* section:not(#sectionPin) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
} */
/* body {
    font-family: termina, sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
}
  
section:not(#sectionPin) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
}  */

/* #sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: #111;
    color: #b9b3a9;
}
  
.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
}
.pin-wrap > * {
    min-width: 60vw;
    padding: 0 5vw;
}

.proimg {
    height: 80vh;
    width: auto;
    object-fit: cover;
} 
/* end horizontalscroll */


/* project scroll */
/* #sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: var(--text-color);
    color: var(--bg-color);
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
}

.pin-wrap>* {
    min-width: 60vw;
    padding: 0 5vw;
} */
/* .wrapper {
    padding: 1em;
} */

/* ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
} */
/* ul.transition li {
    transform: scaleY(0);
    background: white;
    width: 20%;
} */




.proimgg {
    height: 80vh;
    width: auto;
    object-fit: cover;
}

/* project scroll */
/* .trans {
    display: flex;
    /* flex-direction: column;  */
/* justify-content: center; */
/* align-items: center;  */
/* position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 99;
    background-color: crimson;
    overflow: hidden; */
/* } */
*/ .reveal {
    opacity: 1;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

.top-50 {
    top: 50%;
}



.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-theme2 rounded-full mb-1;
}

.section-paragraph {
    @apply text-secondary my-6 w-full max-w-6xl;
}

.badge {
    @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
    scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.h-screen-partial {
    height: 80vh;
}


/* .nav-dot {
    transition: background 200ms, border-color 200ms;
} */

.selected-circle {
    @apply border-theme bg-theme;
}

.nav-dot:hover span {
    transition: opacity 1s;
    opacity: 1;
}

.icons:hover span {
    transition: opacity 1s;
    opacity: 1;
}





