html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "helvetica neue", sans-serif;
  background-color: #1a1a1a;
  background: linear-gradient(90deg, #1a1a1a 20px, transparent 1%) 50%, linear-gradient(#1a1a1a 20px, transparent 1%) 50%, #222;
  background-size: 22px 22px;
  background-attachment: fixed;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vw 2.5vw;
  pointer-events: none;
  z-index: 1000;
}
.head > div {
  display: flex;
}
.head a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  pointer-events: all;
  overflow: hidden;
}
.head a div, .head a:after {
  transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}
.head a:after {
  content: attr(data-txt);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: pink;
}
.head a:nth-child(2) {
  margin-left: 2vw;
}
.head a:hover div, .head a:hover:after {
  transform: translateY(-100%);
}

element.style {
  transform: translate3d(720 px, 0 px, 0 px);
  touch-action: pan-y;
}

.project-feed__item {
  position: absolute;
  width: 100%;
  height: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

user agent stylesheet ul {
  list-style-type: disc;
}

style attribute {
  touch-action: pan-y;
  cursor: grab;
  user-select: none;
}

.project-feed {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30vh;
}

.dom-gl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.slider {
  position: relative;
  padding: 0 22.5vw;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: grab;
  z-index: 2;
}
.slider__inner {
  display: flex;
  position: relative;
}

.slide {
  overflow: hidden;
}
.slide:first-child {
  position: relative;
}
.slide:not(:first-child) {
  position: absolute;
  top: 0;
  height: 100%;
}
.slide__inner {
  position: relative;
  overflow: hidden;
  width: 55vw;
  padding-top: 56.5%;
}
.slide img {
  display: none;
  /*
  height: 100%;
  width: 140%;
  position: absolute;
  top: 0;
  left: -20%;
  object-fit: cover;
  will-change: transform;
  */
}

.titles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}
.titles__list {
  position: absolute;
  top: 0;
  left: 0;
}
.titles__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: -0.1vw;
  color: #fff;
}
.titles__title--proxy {
  visibility: hidden;
}

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  overflow: hidden;
  pointer-events: none;
}
.progress__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fff;
}
.progress__line:nth-child(2) {
  transform-origin: right;
}

.titles__title {
  -webkit-text-stroke: 5px black;
}

@media (max-width: 576px) {
  body {
    position: fixed;
  }

  .slider {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  .slider__inner {
    width: 100%;
    display: flex;
    position: relative;
  }

  .slide {
    overflow: hidden;
  }
  .slide:first-child {
    position: relative;
  }
  .slide:not(:first-child) {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .slide__inner {
    position: relative;
    overflow: hidden;
    width: 140vw;
    height: 50vh;
    padding-top: 56.5%;
  }
  .slide img {
    display: none;
    height: 100%;
    width: 130%;
    position: absolute;
    top: 0;
    left: -20%;
    object-fit: contain;
    will-change: transform;
  }

  .titles {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    pointer-events: none;
    z-index: 3;
  }
  .titles__list {
    position: absolute;
    top: 0;
    left: 0;
  }
  .titles__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    letter-spacing: -0.1vw;
    color: #fff;
  }
  .titles__title--proxy {
    visibility: hidden;
  }

  .progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0.25rem;
    overflow: hidden;
    pointer-events: none;
  }
  .progress__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;
  }
  .progress__line:nth-child(2) {
    transform-origin: right;
  }

  .titles__title {
    -webkit-text-stroke: 0px white;
  }
}
/*# sourceMappingURL=projects.4124c98a.css.map */
